# ビルド成果物
**/build/
**/bin/
**/*.o
**/*.x
**/*.out
**/a.out
**/src/bmt

# 姫野ベンチの展開物（RIKEN から取得）
**/src/*.lzh
**/src/*.zip
**/src/*.tar
**/src/*.tar.gz
26AK01/src/himenoBMTxps.c
26AK01/src/himenoBMTxpa.c
26AK01/src/param.h
26AK01/src/Makefile
26AK01/src/Makefile.sample
26AK01/src/paramset.sh

# PBS ジョブ出力
**/himeno_*.o*
**/results/*.o*
**/results/*.e*
**/results/*.log
**/results/raw/

# エディタ
.vscode/
*.swp
*~
